body {
	text-align: center;
	cursor: crosshair;
	background: black;
	zoom: 100%;
}

canvas {
	padding: 0px;
	border: 0px solid darkgreen;
	background: #515151;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#brightener {
	background: white;
}
